@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900');
@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css');

/* General 
styles for the header */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #A8B2C8; /* Light blue-gray */
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Logo styling */
.app-logo img {
  width: 70%;
  margin-top: -15px;
  cursor: pointer;
  margin-right: -50px;
}

/* Navigation styles */
.app-nav {
  display: flex;
  align-items: center;
}

.app-nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  transition: color 0.3s;
}

.app-nav a:hover {
  color: #fbdfa5;
  text-decoration: none;
 
}

.profile-select select {
  padding: 5px 10px;
  margin-left: 40px;
  border: 1px solid #ccc;
  border-radius: 10px; /* Rounded corners */
  font-size: 16px;
  background-color: rgb(0, 0, 0);
  transition: background-color 0.3s, color 0.3s;
}


.profile-select select:hover {
  background-color: #98d0df;
}

/* User icon and sidebar styles */
.user-icon img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 1001;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 22px;
  color: #ddd;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #00aaff; /* Light blue */
}

.sidebar .closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  margin-bottom: 40px;
}

.sidebar.active {
  width: 250px;
}

.icons{
  margin-right: 15px;
  margin-bottom: 10px;
  margin-top: -2px;
  height:2px ;

}

.footer{
  font-size: large;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}


.menu-icon {
  display: none;
  width: 10%;
}

@media screen and (max-width: 600px) {
  .app-header a:not(:first-child) {display: none;}
  .app-header .menu-icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .app-header.responsive {position: relative;}
  .app-header.responsive .menu-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .app-header.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


.user-icon {
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin-left: 60px;
}

.user-icon img {
  width: 100%;
  height: auto;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin-top: 15px;
}

.sidebar a:hover {
  color: #A8B2C8;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  margin-bottom: 10px;
}

.sidebar.active {
  width: 250px;
}

/* Responsive layout */
@media screen and (max-height: 450px) {
  .sidebar {
      padding-top: 15px;
  }
  .sidebar a {
      font-size: 18px;
  }
}

.profile{
  cursor: pointer;
}

.bell-icon-container {
  position: relative;
  display: inline-block;
  width: 10%;
}

.badge-position {
  position: absolute;
  top: -9px; 
  right: -7px; 
  background-color: red;
  border-radius: 50%;
  width: 18px; 
  height: 18px; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px; 
  color: white; 
}

.logout{
  /* margin-left: -15px; */
  width: 40%;
}