.languageDiv.selected,
.subjectDiv.selected {
  background-color: blue;
  color: white;
}

.languageDiv,
.subjectDiv {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  display: inline-block;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  direction: rtl;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.options-header,
.locations-header,
.found-lessons-header {
  text-align: center;
  color: #333;
  margin: 20px 0;
}

.allSubjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.subjectDiv {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: 300px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  position: relative;
}

.subjectDiv:hover {
  transform: scale(1.02);
  background-color: #f1f1f1;
}

.subjectDiv.selected {
  border-color: #007bff;
}

.subject {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.search-button {
  display: block;
  margin: 30px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.search-button:hover {
  background-color: #0056b3;
}

.lessonHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lessonTitle {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.lessonPrice {
  color: #fbdfa5;
  font-size: 16px;
  font-weight: bold;
}

.lessonBody {
  margin-top: 10px;
}

.lessonDetails p {
  margin: 5px 0;
}

.filters{
  width: 5%;
}

.link{
  color: #0056b3;
  text-decoration: underline;
  cursor: pointer;
}