.lesson-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    margin-top: 40px; /* Increase space above the calendar */
    margin-bottom: 40px; /* Ensure space below the calendar */
  }
  
  .calendar {
    margin-top: 10%;
    margin-right: 10%;
    margin-bottom: 20px; /* Adjust as needed to separate from footer */
    border: none;
  }
  
  .react-calendar__tile--now {
    background: #fbdfa5;
}


.react-calendar__tile--active {
    background: #a8d0e1;
    color: white;
}

.react-calendar__tile--active {
    background: white;
    color: #a8d0e1;
}

.react-calendar__month-view__days__day--weekend {
    color: #a8dfcc;
}

  .available-times-container {
    margin-top: 10%;
    flex: 1;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #ffffff; /* White background for clarity */
    padding: 20px; /* Add padding for spacing */
    border-radius: 8px; /* Rounded corners for a polished look */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }
  
  .available-times {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Responsive grid */
    gap: 10px;
    padding: 10px;
    border: 1px solid #e0e0e0; /* Light gray border */
    border-radius: 5px;
    background-color: #f5f5f5; /* Light gray background */
  }
  
  .time-button {
    padding: 10px 15px;
    background-color: #a8dfcc; /* Light gray button background */
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: white;
    text-align: center; /* Center the text */
  }
  
  .time-button:hover {
    background-color: white;
    color: #a8dfcc; /* Darker gray on hover */
  }
  
  .he {
    direction: rtl;
    text-align: right;
    margin-bottom: -1%;
    color: #a8dfcc;
  }

 
.time-button:disabled {
  background-color: #ddd; 
   color: #888; 
   cursor: not-allowed; 
   border: 1px solid #ccc; 
 } 

 .customStyles {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  background-color: #a8d0e1;
  padding: 20px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-height: 65vh;
  overflow-y: auto;
  border-radius: 3%;
  width: 40%;
}

.customStyles-overlay {
  background-color: rgba(0, 0, 0, 0.8);
}
.animate {
  animation: animatezoom 0.6s;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 40%;
  padding: 1%;

}

form {
  display: block;
  margin-top: 0em;
}

.container {
  padding: 16px;
  margin-top: 15%;
  margin-bottom: 15%;
}

div {
  display: block;
}

/* The Modal (background) */
.modal {
  position: fixed;
  /* Stay in place */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.close{
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.close:hover,
.close:focus {
  color: rgb(248, 4, 4);
  cursor: pointer;
}

.lessonDetailsModal{
  color: black;
}

.subjectDivModal{
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: 300px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  position: relative;
}

.header{
  color: black;
  margin-top: -3%;
  right: 0px;
}

.cancelButtons{
color: red;  
margin-right: 60%;
margin-bottom: 30px;
background-color: white;

}

.confirmButtons{
  color: #a8dfcc;
  margin-right: 2%;
  margin-bottom: 30px;
  background-color: white;
}