

/* כלל הגדרות הבסיס */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  /* הגדרות לשורת הניווט */
  .app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #3f454e; /* צבע רקע כהה */
    opacity: 80%;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .app-logo img {
    width: 120px;
  }
  
  .app-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-links a {
    color: #f0f0f0; /* טקסט אפור בהיר */
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1.2em;
  }
  
  .profile-select {
    display: flex;
    align-items: center;
  }
  
  .profile-select select {
    background: none;
    color: #f0f0f0;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .picture_homepage{
    width: 100%;
    } 
    
  /* הגדרות לחלק האודות */
  .about-container {
    padding: 50px 20px;
    background-color: #f9f9f9;
    text-align: center;
    margin-top: 20px;
  }
  
  .about-container h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .about-container p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .allTutorCircles {
    display: flex;
    overflow: hidden;
    margin: 20px;
    padding-top: 20px;
    position: relative;
    white-space: nowrap;
    animation: scrollTutors 10s linear infinite;
  }
  
  .allTutorCircles .tutorDiv {
    margin: 0 10px; /* מרווח בין עיגולי המורים */
  }
  
  @keyframes scrollTutors {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
  }
  
  .tutorDiv {
    display: inline-block;
    text-align: center;
  }
  
  .tutorDiv img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  
  .allTutors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }
  
  .comments-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
  
  .allComments {
    display: flex;
    overflow: hidden;
    width: calc(100% - 80px); /* התאמת הרוחב בהתחשב בחצים */
    margin: 20px;
  }
  
  .commentDiv {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    flex-shrink: 0;
  }
  
  .commentDiv .comment {
    margin: 5px 0;
  }
  
  .arrow {
    font-size: 2em;
    cursor: pointer;
    user-select: none;
    padding: 0 10px;
  }
  
  .arrow.disabled {
    color: #ccc;
    cursor: not-allowed;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    color: #161616;
    font-weight: bold;
    font-size: 0.8em;
  }
  